*{
    padding: 0;
    margin: 0;
}
body {
    height: 100%;
    width: 100%;
    // background-image: url("./style/images/lantech.png");
    // background-repeat: no-repeat;
    // background-size: cover;
}

a{
    text-decoration: none;
//    color: rgba($color: #181717e8, $alpha: 1.0);
}